@import 'common.less';

// ------------------------------------初始化开始-----------------------------------------
html, body {
    .percent-box();

    font-family: 'Miscrosoft Yahei', '微软雅黑';
    font-size:14px;

    color:#d6d6d6;
}


// ------------------------------------导航-----------------------------------------

.navbar-default {
    background-color:initial;
    border:initial;
    
    .navbar-nx-link {

        li a {
            color:#da291c;
            font-weight:bold;
        }

    }
}

// ------------------------------------框架-----------------------------------------

.nx-padding {
    padding-left:30px;
    padding-right:30px;
}

.nx-top {
    margin-top:50px;
}

// ------------------------------------轮播-----------------------------------------

.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
    background-image:url(../img/left.png) !important;
}

.swiper-button-next, .swiper-container-rtl .swiper-button-prev{
    background-image:url(../img/right.png) !important;
}

.swiper-button-next, .swiper-button-prev {
    width:29px !important;
    height:58px !important;
    margin-top:-29px !important;
    background-size:29px 58px !important;
 }

.swiper-pagination-bullet {
    background:#da291c !important;
    opacity:1 !important;
}

.swiper-pagination-bullet-active {
    background:white !important;
}