@import 'common.less';

// ------------------------------------初始化开始-----------------------------------------
html, body {
    .percent-box();

    font-family:HurmeGeometricSans3, Futura, Din, Helvetica Neue, Helvetica, Arial, '思源黑体', Hiragino Sans GB, '华文细黑', STXihei, '微软雅黑', Microsoft yahei, Sans-serif,;
    font-size:14px;

    color:#000;
}

@web-color:#da291c;

// ------------------------------------导航-----------------------------------------

.navbar-default {
    background-color:#fff;
    border:initial;
    
    .navbar-nx-link {
        margin-right:-15px;

        li a {
            color:@web-color;
            font-weight:bold;
            height:14px;
            display:block;
            overflow:hidden;
            padding:0;
            margin-top:19px;
            transition: all 0.1s ease-in-out; 

            &:hover {
                background-position-y:-14px;
            }
        }

        .work {
            width:46px;
            background-image:url(../../img/main/menu-work.png);
        }

        .clients {
            width:59px;
            background-image:url(../../img/main/menu-clients.png);
            margin-left:30px;
        }

        .about {
            width:60px;
            background-image:url(../../img/main/menu-about.png);
            margin-left:30px;
        }

        .contact {
            width:70px;
            background-image:url(../../img/main/menu-contact.png);
            margin-left:20px;
        }

    }

    .navbar-brand {
        padding:10px 0;
    }
}


// ------------------------------------框架-----------------------------------------



a {
    color:#000;
    text-decoration:none;

    img {
        border:0;
    }
}

.nx-padding {
    padding-left:30px;
    padding-right:30px;
}

.nx-top {
    margin-top:50px;
}

.swiper-slide img {
    width:100%;
}

// ------------------------------------轮播-----------------------------------------

.swiper-pagination {
    bottom:56px !important;

    span {
        margin:0 4.5454% !important;
    }
}

.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
    background-image:url(../img/left.png) !important;
}

.swiper-button-next, .swiper-container-rtl .swiper-button-prev{
    background-image:url(../img/right.png) !important;
}

.swiper-button-next, .swiper-button-prev {
    width:29px !important;
    height:58px !important;
    margin-top:-29px !important;
    background-size:29px 58px !important;
 }

.swiper-pagination-bullet {
    background:@web-color !important;
    opacity:1 !important;
}

.swiper-pagination-bullet-active {
    background:white !important;
}

// ------------------------------------index-----------------------------------------

.nx-index {
    background-color:@web-color;
    
    padding:170px 0 90px 0;

    height:100%;

    img {
        width:100%;
    }

    .row {
        //position:relative;
        height:100%;

        .bottom {
            position:absolute;
            bottom:5px;
            color:white;
            //width:100%;

            span {
                margin-right:20px;
            }
        }
    }
}

// ------------------------------------about-----------------------------------------
.kv {


    .kv1 {
        height:auto; background-color:white;

        padding:0 30px;
        color:@web-color;
        margin-bottom:80px;

        span {
            margin-top:57px;
            font-weight:bolder;
            font-size:31px;
            display:block;
        }

        p {
            margin-top:54px;
            font-size:51px;
            font-weight:200;
        }
    }

    .kv2 {
        background-color:@web-color;
        padding:28px 30px 0 30px;
        //height:220px;
        color:white;

        p { margin:0;}

        .b {
            font-size:40px;
            font-weight:bold;
        }

        a {
            color:white;
            text-decoration:underline;
            font-size:10px;
        }
    }

    .logo {
        padding:50px 0;
        //height:768px;
        background-color:@web-color;
        text-align:center;
    }
}

.nx-about {
    margin-top:50px;
}

.nx-title() {
    color:#dc3629;
    font-size:36px;
    height:90px;

    span {
        font-weight:bold;

    }

}

.nx-about-title {
    .nx-title();

    border-bottom:1px solid @web-color;
    margin-bottom:28px;
    margin-top:112px;
}

.nx-about-title-people {
    .nx-title();

    margin-top:112px;
}

.nx-about-title-shanghai {
    .nx-title();

    border-bottom:1px solid @web-color;
    margin-bottom:28px;
    margin-top:55px + 34px;
}

.nx-about-title-client {
    .nx-title();

    border-bottom:1px solid @web-color;
    margin-bottom:28px;
    margin-top:55px;
}

.nx-about-award {
    margin-bottom:30px;

    span {
        font-weight:bold;
    }
}

.nx-about-news {
    margin-bottom:30px;

    h4 {
        font-weight:bold;
        font-size:14px;
    }
}

.nx-about-people {

    >div {
        position:relative;
        overflow:hidden;
    }

    .hover {
        position:absolute;
        .percent-box();

        background-color:rgba(233, 50, 42, 0.9);
        transition: all 0.3s ease-in-out; 
        top:100%;

        color:#fff;

        padding:30px;
        overflow:auto;

        span {
            font-weight:bold;
            margin-right:20px;
        }

        p{
            margin-top:5%;
        }
    }

    a:hover>.hover{
        top: 0;
        visibility: visible;
        opacity: 1;
    }
}

// ------------------------------------contact-----------------------------------------

.nx-contact {

    .item {
        margin-bottom:28px;
    }

    .title {
        font-weight:bold;
    }

    .map {
        text-align:right;
    }

    .sns {
        a {
            float:right;
            position:relative;

            &.sina {
                //text-align:left;
                
            }

            &.weixin {
                //text-align:right;
                margin-left:10px;
                //background-color:aliceblue;

                div {
                    position:absolute;
                    display:none;
                    width:200px;
                    height:200px;
                    background-image:url(../../img/main/qr.png);
                    background-size:contain;
                    background-repeat:no-repeat;
                    background-position:right;
                    top:35px;
                    right:-10px;
                }
            }
        }
    }
}

// ------------------------------------client-----------------------------------------
.nx-clients {

    .item {
        >div {height:24px;}
    }
}

// ------------------------------------work-----------------------------------------
.nx-work {

    margin-top:50px;

    img {
        width:100%;
    }

    a{
        overflow:hidden;
        display:block;
        position:relative;
    }

    .hover {
        position:absolute;
        .percent-box();

        background-color:rgba(0, 0, 0, 0.8);
        transition: all 0.3s ease-in-out; 
        top:100%;

        color:#fff;

        padding:30px;

        h4{
            margin:0;
            font-size:14px;
        }

        p{
            font-weight:bold;
        }

        .footer {
            position:absolute;
            bottom:40px;
        }

    }

    a:hover>.hover{
        top: 0;
        visibility: visible;
        opacity: 1;
    }
}

// ------------------------------------底部-----------------------------------------

 .nx-footer {
     margin-top:118px;
     background-color:@web-color;
     padding-top:32px;
     color:#fff;
     height:310px;

     .nx-design {
         width:116px;
         height:58px;
         background-image:url(../../img/main/nx-design.png);
         background-position-y:0;
         display:block;

         &:hover {
             background-position-y:-58px;
         }
     }

     .link {
         text-align:right;
         
         a {
             color:#fff;
             text-decoration:none;
             margin-left:45px;
             position:relative;


             div {
                 position:absolute;
             }
         }
     }

     .line {
         height:116px;
         border-bottom:1px solid #fff;
         margin-bottom:56px;
     }

     .sns {
         text-align:right;

         a {
             margin-left:10px;
         }

         .weixin {
             position:relative;

            div {
                position:absolute;
                display:none;
                width:200px;
                height:200px;
                background-image:url(../../img/main/qr2.png);
                background-size:contain;
                background-repeat:no-repeat;
                //background-position:center;
                top:-220px;
                left:-72px;
            }
         }
     }

     .copyright {
         font-size:10px;
         text-align:left;
         line-height:40px;
     }
 }


 @media (max-width: 480px) {

 // ------------------------------------框架-----------------------------------------
 .nx-padding {
     padding-left:5px;
     padding-right:5px;
 }

 .nx-title() {
    font-size:16px;
    height:30px;
    padding-left:20px;
}

 .nx-about-title {
     .nx-title();
    margin-bottom:15px;
    margin-top:30px;

}

 .nx-about-title-people {
    .nx-title();

    margin-top:50px;
}

.nx-about-title-shanghai {
    .nx-title();

    border-bottom:1px solid @web-color;
    margin-bottom:28px;
    margin-top:55px + 34px;
}

.nx-about-title-client {
    .nx-title();
    margin-bottom:15px;
    margin-top:30px;
}

.item {
    padding-left:20px;
}

// ------------------------------------导航-----------------------------------------
.navbar-default {
    background-color:#fff;
    border:initial;
    
    .navbar-nx-link {
        //margin-right:-15px;

        li a {
            color:@web-color;
            transition:initial;
            height:initial;
            overflow:initial;
            margin-top:0;
            padding:10px 15px;
            line-height: 20px;
            display:block;
            background-image:initial;

        }

        .work, .clients, .about, .contact {
            width:auto;
            background-image:initial;
            margin-left:initial;
        }

    }

    .navbar-brand {
        img {margin-left:10px;}
    }

    .navbar-toggle {
        border-color:@web-color;

        &:hover {
            background-color:#fff;
        }

        .icon-bar {
            background-color:@web-color;
        }
    }
}

// ------------------------------------轮播-----------------------------------------

.swiper-pagination {
    bottom:10px !important;

    span {
        margin:0 4.5454% !important;
    }
}


.swiper-button-next, .swiper-button-prev {
    width:14.5px !important;
    height:29px !important;
    margin-top:-14.5px !important;
    background-size:cover !important;
 }

.swiper-pagination-bullet {
    background:@web-color !important;
    opacity:1 !important;
}

.swiper-pagination-bullet-active {
    background:white !important;
}


// ------------------------------------index-----------------------------------------

.nx-index {
    padding:70px 0 0 0;
}


// ------------------------------------clients-----------------------------------------
.nx-clients {


}
// ------------------------------------about-----------------------------------------
.kv {
    .kv1 {
        margin-bottom:20px;

        span {
            margin-top:20px;
            
        }

        p{
            margin-top:20px;
        }
    }

    .kv2 {
        height:auto;
    }

    .logo {
        text-align:center;

        img {
            width:50%;
        }
    }
}

.nx-about {
    margin-top:20px;

    >div {
        padding:15px 20px;
    }
}

.nx-about-award {
    padding-left:20px;

    >div {
        margin-bottom:20px;
    }
}

.nx-about-news {

    >div {
        padding-left:20px;
        padding-right:20px;
    }
}
// ------------------------------------底部-----------------------------------------
.nx-footer {

    height:210px;

    .line {
        height:90px;
        margin-bottom:10px;
    }

    .copyright {
        text-align:center;
        line-height:20px;
    }
}


// ------------------------------------end-----------------------------------------
}