/**********************全局样式开始************************/
html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font: 12px/1.5 '微软雅黑', Arial, Helvetica, SimSun, san-serif;
}
img {
  border: 0px;
}
.box {
  width: 980px;
  height: 100%;
  margin: 0 auto;
}
/**********************全局样式结束************************/
/**********************头部样式开始************************/
.header {
  height: 80px;
  padding: 0 10px;
  /*padding:0 40px;*/
  /*border:1px solid #f00;*/
}
.logo {
  float: left;
}
.logo img {
  margin-top: 20px;
  border: 0;
}
.sub-logo {
  float: right;
}
.sub-logo img {
  margin-top: 28px;
}
/**********************头部样式结束************************/
/**********************banner样式开始************************/
.banner {
  height: 350px;
  overflow: hidden;
  position: relative;
}
.banner .choice {
  width: 184px;
  height: 170px;
  position: absolute;
  right: 0;
  top: 0;
  background-image: url(../img/banner/choice.png);
  background-size: contain;
  z-index: 5;
}
.carousel-imgs {
  position: relative;
}
.carousel-imgs img {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
.carousel-tips {
  padding: 0;
  margin: 0;
  position: absolute;
  width: 100%;
  height: 75px;
  bottom: 0;
  list-style: none;
  z-index: 2;
}
.carousel-tips > li {
  float: left;
  width: 245px;
  height: 100%;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  position: relative;
  cursor: pointer;
}
.carousel-tips > li > span {
  font-size: 20px;
  position: absolute;
  right: 10px;
  bottom: 10px;
  color: #fff;
}
.carousel-tips > li > div {
  height: 0;
  width: 100%;
  overflow: hidden;
}
.carousel-tips > li > div > div {
  width: 225px;
  /*position:absolute;*/
  padding: 10px 10px 5px 10px;
  z-index: -1;
  /*display:none;*/
}
.carousel-tips > li > div > div img {
  width: 100%;
}
.carousel-tips > li .arrow {
  height: 11px;
  margin-top: -11px;
}
.carousel-tips > li .tip-mask {
  height: 100%;
  width: 100%;
  background-color: black;
  position: absolute;
  z-index: 3;
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  opacity: 0.5;
  display: none;
}
.tips01 {
  background-color: #10a7ae;
  background-color: rgba(16, 167, 174, 0.9);
  background-image: url(../img/icon/icon01.png);
  filter: alpha(opacity=90) \9;
}
.tips01 > div > div {
  background-color: #10a7ae;
}
.tips01 .arrow {
  display: none;
}
.tips01H {
  background-color: #10a7ae;
  background-image: url(../img/icon/icon01.png);
}
.tips01H > div > div {
  background-color: #10a7ae;
}
.tips01H .arrow {
  background: url(../img/icon/arrow1.png) center no-repeat;
}
.tips02 {
  background-color: #7b8d42;
  background-color: rgba(123, 141, 66, 0.9);
  background-image: url(../img/icon/icon02.png);
  filter: alpha(opacity=90) \9;
}
.tips02 > div > div {
  background-color: #7b8d42;
}
.tips02 .arrow {
  display: none;
}
.tips02H {
  background-color: #7b8d42;
  background-image: url(../img/icon/icon02.png);
}
.tips02H > div > div {
  background-color: #7b8d42;
}
.tips02H .arrow {
  background: url(../img/icon/arrow2.png) center no-repeat;
}
.tips03 {
  background-color: #507ea4;
  background-color: rgba(80, 126, 164, 0.9);
  background-image: url(../img/icon/icon03.png);
  filter: alpha(opacity=90) \9;
}
.tips03 > div > div {
  background-color: #507ea4;
}
.tips03 .arrow {
  display: none;
}
.tips03H {
  background-color: #507ea4;
  background-image: url(../img/icon/icon03.png);
}
.tips03H > div > div {
  background-color: #507ea4;
}
.tips03H .arrow {
  background: url(../img/icon/arrow3.png) center no-repeat;
}
.tips04 {
  background-color: #e09e87;
  background-color: rgba(224, 158, 135, 0.9);
  background-image: url(../img/icon/icon04.png);
  filter: alpha(opacity=90) \9;
}
.tips04 > div > div {
  background-color: #e09e87;
}
.tips04 .arrow {
  display: none;
}
.tips04H {
  background-color: #e09e87;
  background-image: url(../img/icon/icon04.png);
}
.tips04H > div > div {
  background-color: #e09e87;
}
.tips04H .arrow {
  background: url(../img/icon/arrow4.png) center no-repeat;
}
/**********************banner样式结束************************/
/**********************banner样式开始************************/
.nav-banner {
  margin-top: 6px;
  height: 163px;
}
.nav-banner > div {
  overflow: hidden;
  position: relative;
}
.nav-banner > div .mask {
  position: absolute;
  height: 100%;
  width: 100%;
  background-position: 10px 10px;
  background-repeat: no-repeat;
}
.nav-banner > div .mask > span {
  font-size: 20px;
  position: absolute;
  right: 10px;
  bottom: 10px;
  color: #fff;
}
.nav-banner > div .link-img {
  padding: 10px;
}
.mask {
  filter: alpha(opacity=95);
}
.nav01,
.nav02 {
  margin-right: 6px;
  float: left;
  height: 100%;
  width: 275px;
}
.nav01 {
  background-color: #deb700;
}
.nav01 > .mask {
  background-color: #deb700;
  background-color: rgba(222, 183, 0, 0.95);
  background-image: url(../img/icon/icon05.png);
}
.nav02 {
  background-color: #774ca5;
}
.nav02 > .mask {
  background-color: #774ca5;
  background-color: rgba(125, 84, 168, 0.95);
  background-image: url(../img/icon/icon06.png);
}
.nav03 {
  float: right;
  width: 418px;
  height: 73px;
  background-color: #0c96c4;
}
.nav03 > .mask {
  background-color: #0c96c4;
  background-color: rgba(13, 153, 203, 0.95);
  background-image: url(../img/icon/icon07.png);
}
.nav04 {
  margin-top: 6px;
  float: right;
  width: 418px;
  height: 84px;
  background-color: #ee7d02;
}
.nav04 > .mask {
  background-color: #ee7d02;
  background-color: rgba(237, 124, 1, 0.95);
  background-image: url(../img/icon/icon08.png);
}
/**********************banner样式结束************************/
/**********************尾部样式开始************************/
.footer {
  text-align: center;
  height: 80px;
  line-height: 80px;
  clear: both;
}
/**********************尾部样式结束************************/